
<span class="content">
    <span class="title">
        <%= message.title %>
    </span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(message.created_at) %> ago.
    </span>
    <div class="flex">
        <span class="message">
            <%= message.content %>
        </span>
    </div>
    <div class="buttons-wrapper">
        <div class="edit">
            <%= link_to "Edit", edit_message_path(message), class:"edit-button btn btn-secondary" %>
        </div>
        <div class="delete">
            <%= button_to "Delete", message, method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-secondary delete-button" %>
        </div>
    </div>
</span>